html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Added by David S*/
.form-group {
    margin-bottom: 1rem;
}

.form-floating {
    margin-bottom: 1rem;
}
