@model MVC_Music.Models.Album

@{
    ViewData["Title"] = "Create Album";
}

<h2>Create Album</h2>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearProduced" class="control-label"></label>
                <input asp-for="YearProduced" class="form-control" />
                <span asp-validation-for="YearProduced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreID" class="control-label"></label>
                <select asp-for="GenreID" class="form-control" asp-items="ViewBag.GenreID">
                    <option value="">Select the Genre</option>
                </select>
                <span asp-validation-for="GenreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to Album List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
