@model MVC_Music.Models.MusicianDocument

@{
    ViewData["Title"] = "Edit Document";
}

<h2>Edit Musician Document</h2>

<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="ID" />
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Musician: @Model.Musician.FullName</label>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type of File: @Model.MimeType</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a href='@ViewData["returnURL"]'>Back to Document List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
